<!DOCTYPE html>
<html lang="en">
<head>
  <title>Python Data Structures</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<!--Adding CSS file-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/basic.css') }}">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-size: 20px;margin-top: 5px;">Data Structures with Python</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!--<ul class="nav navbar-nav">
        <li style="font-size: 16px;margin-top: 5px"><a href="#">Home</a></li>
        <li style="font-size: 16px;margin-top: 5px"><a href="#">About</a></li>
        <li style="font-size: 16px;margin-top: 5px"><a href="#">Projects</a></li>
        <li style="font-size: 16px;margin-top: 5px"><a href="#">Contact</a></li>
      </ul>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/jsumedh10/FlaskApplication"><img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub" title="GitHub" /></a></li>
        <li><a href="https://www.linkedin.com/in/sumedh-junghare-29664257/"><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn" title="LinkedIn" /></a></li>
      </ul>
    </div>
  </div>
</nav>
<img class="hero" src="{{ url_for('static', filename='images/background.jpg') }}">
<div class="hero-text">
    <h1>Data Structure Tutorial</h1>
    <p>This tutorial uses implementation of data structures using Python language.</p>
</div>
<br><br>
{% block content %}

{% endblock %}

</body>
</html>
