{% extends "layout.html" %}

{% block content %}
      <div class="welcome-text">
<p>
    <h3>Welcome! Thank you for visiting.</h3>
</p>
<p>
    In this tutorial, we will explore how different data structures can be implemented using Python language.<br>
    At this moment, I am showing the implementation of following eight data structures. In future, I will update more.
</p>
<p>Thanks again and Happy Coding!</p>
</div>
<div class="container-fluid text-center">
    <div class="row content" style="padding-top: 5px;">
        <div class="col-lg-1 col-md-1 col-lg-1">
            <!--<p>This is left column.</p>-->
        </div>
        <div class="col-lg-10 col-md-10 col-lg-10">
            <!--Defining thumbnails in two rows-->
            <div class="row-thumbnails">
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="container">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Linked Lists</h3>
                            <br>
                            <p><a href="/linked_lists/" class="btn btn-primary" role="button">Click Me!</a></p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="container">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Stacks</h3>
                            <br>
                            <p><a href="/stacks/" class="btn btn-primary" role="button">Click Me!</a></p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="container">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Queues</h3>
                            <br>
                            <p><a href="/queues/" class="btn btn-primary" role="button">Click Me!</a></p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="container">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Trees</h3>
                            <br>
                            <p><a href="/trees/" class="btn btn-primary" role="button">Click Me!</a></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row-thumbnails">
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="container">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Graphs</h3>
                            <br>
                            <p><a href="/graphs/" class="btn btn-primary" role="button">Click Me!</a></p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="container">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Searching</h3>
                            <br>
                            <p><a href="/searching/" class="btn btn-primary" role="button">Click Me!</a></p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="container">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Sorting</h3>
                            <br>
                            <p><a href="sorting" class="btn btn-primary" role="button">Click Me!</a></p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="container">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Hashing</h3>
                            <br>
                            <p><a href="/hashing/" class="btn btn-primary" role="button">Click Me!</a></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-lg-1">
            <!--<p>This is right column.</p>-->
        </div>
    </div>
</div>

<!--<div class="container-fluid text-center" style="margin-top: 50px;">-->
  <!--<div class="row content">-->
    <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
      <!--&lt;!&ndash;<p><a href="{{ url_for('linked_lists')}}">Linked Lists</a></p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p><a href="{{ url_for('stacks') }}">Stacks</a></p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p><a href="#">Queues</a></p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p><a href="#">Trees</a></p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p><a href="#">Graphs</a></p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p><a href="#">Sorting</a></p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p><a href="#">Searching</a></p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p><a href="#">Hashing</a></p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="col-sm-8 text-right">-->


        <!--</div>-->
    <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="well">&ndash;&gt;-->
        <!--&lt;!&ndash;<p>ADS</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="well">&ndash;&gt;-->
        <!--&lt;!&ndash;<p>ADS</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->

{% endblock %}